#header {
    height: 50px;
    background: #4645E4;
    color: #fff;

}

#branding h1 {
    color: #fff;
}

a:link
a:visited {
    color:#4645E4;
}

div.breadcrumbs {
    background: #5D23D4;
}

.module h2, .module caption, inline-group h2{
    background: #5D23D4;

}