{% extends "admin/base.html" %}
{% load static %}


{% block branding %}
<h1 id="head">
   <img src="{% static 'img/administracion.png' %}" alt="" class = "brand_img" height="50" with = "80"> Modulo de Desarrollo
</h1>
{% endblock %}

{% block content %}
<li class="nav-item">
   <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
     <!--<i class="fas fa-fw fa-cog"></i>-->
     <span>Proyecto</span>
   </a>
   <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
     <div class="bg-white py-2 collapse-inner rounded">
       <!--<h6 class="collapse-header">Custom Components:</h6>-->
       <a class="collapse-item" >Crear Proyecto</a>
       <a class="collapse-item" >Listar Proyectos</a>
     </div><!---->
   </div>
 </li>
 
 <hr class="sidebar-divider">
{% endblock %}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock %}