{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}
{% block h1 %}Página principal{% endblock %}

{% block content %}
<iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=0fd96be3-764d-4d34-bac2-a8f7a341ee2c&autoAuth=true&ctid=5b973f99-77df-4beb-b27d-aa0c70b8482c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWV1cm9wZS1ub3J0aC1iLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
{% endblock %}